<h1>Add Event</h1>
<%= form_for(@event) do |f| %>
	<div>
	    <%= f.text_field :name, autofocus: true, placeholder: "Event Title" %>
	</div>
	<div>
	    <%= f.text_area :description, placeholder: "Event Description" %>
	</div>
	<div>
	    <%= f.text_field :location, placeholder: "Event Location" %>
	</div>
	  <div>
	    <%= f.datetime_select :date, :ampm => true, :minute_step => 15 %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>