<h5><%= @event.name %><br><small>Owner: <%= @event.creator.name  %> </small></h5>
<p><%= @event.description %></p>
<p><strong>Location: </strong><small><%= @event.location %></small></p>
<p><strong>Date: </strong>
<small>
    <strong><%= @event.date.to_s.split(' ').first %> </strong>
    <em><%= @event.date.to_s.split(' ')[1] %></em>
</small>
</p>

<br>
<h5>List of Attendees</h5>
<% @event.attendees.each do |attendee|%>
    <p><strong><%= attendee.name %></strong></p>
<% end %>
<br>
<h5 class="card-title border-bottom pb-2">Invite Friends</h5>
<% @users.each do |user| %>
    <p><%= user.name %> &mdash; <%= link_to 'Invite', invite_event_path %></p>
<% end %>